@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Note>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Note</th>
                <th scope="col">Description: </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>@note.Title</td> 
                    <td>@note.Description</td>
                    <td class="text-center">
                        <a asp-controller="Note" asp-action="Update" asp-route-id ="@note.Id"> 
                            <button class="m-1 btn btn-outline-warning">Update</button>
                        </a>
                        <a asp-controller="Note" asp-action="Delete" asp-route-id ="@note.Id"> 
                            <button class="m-1 btn btn-outline-danger">Delete</button>  
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Note" asp-action="Add">
        <button class="m-1 btn btn-outline-success">Add Note</button>
    </a>

</div>