html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.list-group-item.active {
    background: conic-gradient(from .5turn at bottom center, lightblue, white);
    border-color: black;
    color: black;
    border-width: thick;
    border-style: double;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    letter-spacing: 3.5px;
}


.custom-link2 {
    background: conic-gradient(from .5turn at bottom center, lightblue, white);
    border-color: black;
    color: black;
    border-width: thick;
    border-style: double;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    letter-spacing: 3.5px;
}


.custom-link3 {
    background-color: mediumpurple;
    border-color: black;
    color: white;
    border-width: medium;
}


.custom-link4 {
    background-color: indianred;
    border-color: black;
    color: white;
    border-width: medium;
}



.shorter-item {
    width: 400px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
}

a {
    color: black; /* Remove the blue color and underline  */
    text-decoration: none; 
}
.footer.customize {
    background: conic-gradient(from .5turn at bottom center, lightblue, white);
    border-style: double;
    border-width: thick;
    border-color: grey;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 18px;
    font-weight: bold;
    font-family: Papyrus;

}
/*
    .social-icons a {
    color: black;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    }
*/

.bg-1 {
    background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, rebeccapurple);
}
.bg-2 {
    background: conic-gradient(from .5turn at bottom center, lightblue, white)
}
.bg-3 {
    background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, skyblue);
}
.navbar {
    background: conic-gradient(from .5turn at bottom center, lightblue, white);
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 18px;
    font-weight: bold;
    font-family: Papyrus;
}
.display-1 {
    font-family: Papyrus, fantasy;
    font-size: 70px;
}
.display-2 {
    font-family: Papyrus, fantasy;
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: bold;
}
.display-3 {
    font-family: Papyrus, fantasy;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

