html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.list-group-item.active {
    background-color: lightgreen;
    border-color: black;
    color: white;
    border-width: medium;
}


.custom-link2 {
    background-color: lightskyblue;
    border-color: black;
    color: white;
    border-width: medium;
}


.custom-link3 {
    background-color: mediumpurple;
    border-color: black;
    color: white;
    border-width: medium;
}


.custom-link4 {
    background-color: indianred;
    border-color: black;
    color: white;
    border-width: medium;
}



.shorter-item {
    width: 400px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
}

a {
    color: black; /* Remove the blue color and underline  */
    text-decoration: none; 
}