html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.list-group-item.active {
    background-color: #e89c66;
    border-color: black;
    color: white;
    border-width: thick;
    border-style: double;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    letter-spacing: 3.5px;
}


.custom-link2 {
    background-color: #c2b1a4;
    border-color: black;
    color: white;
    border-width: thick;
    border-style: double;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    letter-spacing: 3.5px;
}


.custom-link3 {
    background-color: mediumpurple;
    border-color: black;
    color: white;
    border-width: medium;
}


.custom-link4 {
    background-color: indianred;
    border-color: black;
    color: white;
    border-width: medium;
}



.shorter-item {
    width: 400px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
}

a {
    color: black; /* Remove the blue color and underline  */
    text-decoration: none; 
}
.footer.customize {
    background: #e8d9ce;
    border-style: dashed;
    border-width: thick;
    border-color: snow;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 18px;
    font-weight: bold;
    font-family: Papyrusy;
}
.social-icons a {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}
.bc {
    background-image: url(https://i.pinimg.com/736x/b1/f6/17/b1f617fff2222dff793602c9c9d0c422.jpg);
    background-color: #cccccc;
}
.display-1 {
    font-family: Papyrus, fantasy;
    font-size: 60px;
}
.display-2 {
    font-family: Papyrus, fantasy;
    letter-spacing: 0.5px;
    font-size: 30px;
}
.display-3 {
    font-family: Papyrus, fantasy;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

